= wrap_layout :layout do
  .row
    .col-lg-9
      %article
        %h1
          = current_page.title
          %small.text-muted= current_page.date.strftime('%b %e')
        = yield
      %hr
      %p
        = link_to '/blog/index.html', class: 'btn btn-success'  do
          &#8617;
          Return to Blog
        - next_one = next_article(current_page)
        = link_to next_one.url, class: "btn btn-default" do
          = next_one.title
          &#8680;

    .col-lg-3
      = partial "partials/blog_nav"
