%h1 Guitars
%ul
  %li
    My first design
    %p= link_to "Headless", "/guitars/headless.html"

  %li
    Put a head on a body
    %p= link_to "Builder", "/guitars/builder.html"

%h2 Old stuff
%ul
  %li= link_to "DBZ", 		"/guitars/dbz.html"
  %li= link_to "BC", 			"/guitars/bc.html"
  %li= link_to "Fender", 	"/guitars/fender.html"