---
title: Hardware
date: 2014-10-30 18:17 UTC
tags: headless
subtitle: String thru pics and pickup cavity
---

%h2 Pick up

%ul
  %li Railhammer
  %li Fixed
  %li Tight ring

= image_tag "/img/headless/thru/pu.png", class: 'img-responsive'

.alert.alert-warning
  %b Top piece

  %p Did not want to cover the striping from the neck-thru so the top piece of maple will be for the bouts


%h1 Controls
%ul
  %li Volume DPDT - straight to jack
  %li Tone DPDT - HB/Split
  %li The Walnut ring is there to accomodate the taller pots
  %li 
    %em No kill, no varitone

= image_tag "/img/headless/thru/hw.png", class: 'img-responsive'

%h2 Floyd Rose

= image_tag "/img/headless/thru/fr.png", class: 'img-responsive'


%h2 Knobs
%ul
  %li= linky 'http://www.allparts.com/PK-3197-0M0-Maple-Bell-Knobs_p_2896.html'
  %li= linky 'http://www.ebay.com/itm/Guitar-Parts-WOOD-DOME-KNOBS-Set-of-2-MAPLE-/311146655846?pt=Guitar_Accessories&hash=item4871c93066'
  %li= linky 'http://www.ebay.com/itm/Concentric-Stacked-Pot-Guitar-Knob-Set-in-Spalted-Maple-Cocobolo-6mm-8mm-/161438381940?pt=Guitar_Accessories&hash=item25967a3774'