---
title: Headless Prototype
date: 2014-10-15 16:17 UTC
tags: headless
subtitle: Initial Headless prototyping
---

%h2 Crazy

= image_tag "/img/headless/shapes/crazy.png"

%h2 Batshit crazy

= image_tag "/img/headless/shapes/batshit.png"

%h1 Inspiration

%h3 Shape

%ul
  %li= link_to "http://guitarworks.thestrandbergs.com/2008/01/26/ergonomic-test/", "http://guitarworks.thestrandbergs.com/2008/01/26/ergonomic-test/"

.alert.alert-warning
  I'm going to have to make my own prototype in MDF to know just how batshit crazy this design is

%p= link_to 'http://2.bp.blogspot.com/-Fa0VC-d-_2s/UHl-cMb3eaI/AAAAAAAAAFI/r6akR7RpV5Q/s1600/Modul-Strat20121013.png','http://2.bp.blogspot.com/-Fa0VC-d-_2s/UHl-cMb3eaI/AAAAAAAAAFI/r6akR7RpV5Q/s1600/Modul-Strat20121013.png'

.alert.alert-info
  %p
    Note, on this design I don't need to account for the brige tuners since I'm using the FR. This is when I first knew I would try this 
    rather than buy a headless bridge.
  %p But where does the jack go? On back. I know a guy who knows a guy :P

%h3 Wood / transition

%ul
  %li 
    Too flat but cool
    = link_to 'http://strandbergguitars.com/27-varberg/','http://strandbergguitars.com/27-varberg/'
  %li I like how the the color transitions where the wood meets
  %li Wondering how I can do that around the bouts using the transition from mahagony to maple
    

%h2 Overlay 

%p Until I get to play with a prototype, I imagine that distance being broken into exact thirds for each rest. Unless there is a reason for one being a different size - bottom one bigger for example.

= image_tag "/img/headless/shapes/diff.png"

%h2 1 Rita and one shot version

= image_tag "/img/headless/shapes/1rita.png"

%p Forgive the colors the tequilla made me do it. 

%p I'm liking this, it is different, no? Probably a reason for that I suppose but, regardless, I like it and hope to bring it to life.

%p Note the ugly brown 'through neck' area, the spalted maple (top, mahagony otherwise) - I imagine it being thickest at the center and then fanning out to the wings using that smokey purple - if you can get me close I can finish with the finish, which is fun for me. 

%p The brown indicates spalted maple - including the finger board. 

%p 
  I'm conflicted about the head. 
  I suppose it does serve a function, for hanging and tuner but want to leave it off - out of principle :P



%p 
  %b I want to get this in at less than 5 lbs. 

%p I was playing my minimized Fender today. I really like it mostly because of the (lack of) weight. It makes a difference. With this new one, I know, the scale will be longer. I'm ok with it. My munchkin hands have learned to cheat, they will just have to learn to cheat more :P

= image_tag "/img/headless/shapes/controls.png"


%p 
  I'm not sure about controls. But there is plenty of room for 
  %b fewer 
  of them. LOL. That's ok by me.

%p I'm going to mock it up and try it on. Candid feedback appreciated.
