---
title: Projector
date: 2014-10-16 16:17 UTC
tags: headless
subtitle: Using projector to upscale
---

%h1 Prototyping

%h2 Projector

%h4 Using an LCD projector to upscale the image


= image_tag "/img/headless/projector.jpg", style: "width:100%", class: "img-responsive"

%h4 The Parker to show relative size

= image_tag "/img/headless/projector-parker.jpg", style: "width:100%", class: "img-responsive"

%h4 Digital

= image_tag "/img/headless/proto.png", style: "width:100%", class: "img-responsive"


%h5
  The prototype, as shown here, is about 36 inches (without a head), which seems about right.

%p Body is about 15.5 by 13.5.

%h5 
  Middle - 
  %small.muted sweet spot

%p The bout is not an issue since it is angled down

= image_tag "/img/headless/proto/middle.jpg", style: "width:100%", class: "img-responsive"

%h5 Left

= image_tag "/img/headless/proto/left.jpg", style: "width:100%", class: "img-responsive"

%h5 Top bout


= image_tag "/img/headless/proto/top.jpg", style: "width:100%", class: "img-responsive"

%h5 
  Proto on table
  %small.muted fly in the ointment?

%p What is wrong with this picture? I think I might have to lenghthen the second spout to give room for the bridge.



= image_tag "/img/headless/proto/proto.jpg", style: "width:100%", class: "img-responsive"

%h5 
  Proto with ruler
  %small.muted

%p Something worth noting is the neck as shown in the prototype is close to 3". Not sure how that happened.

= image_tag "/img/headless/proto/proto-ruler.jpg", style: "width:100%", class: "img-responsive"

%p HA! The bridge is backwards. 

%p See any other fundamental flaws?


