---
title: Headless final
date: 2014-10-28 18:17 UTC
tags: headless
subtitle: Less risky version
---

= image_tag "/img/headless/vf2/final.png", class: 'img-responsive'

%h2 Final Version

%p I've reduced a lot of risk by borrowing more from other's designs

%p Hopefully it will look better in wood than pastel


%h2 Wood

%ul
  %li Walnut (2 wings, 1 center of neck thru)
  %li Flamed maple (2 sides of neck thru, top of body [green])

= image_tag "/img/headless/vf2/wood.png", class: 'img-responsive'


%h2 Hardware

%ul
  %li Kill
  %li Volume
  %li Tone 
  %li HB/SC
  %li Railhammer, chrome

= image_tag "/img/headless/vf2/wood2.png", class: 'img-responsive'


%p No flux cap, dpdt pot etc - or other deep hardware.

%p This design has a lot of Strand, a little Hailfire, a little FR and a little pv.

= image_tag "/img/headless/vf2/purp.png", class: 'img-responsive'

= image_tag "/img/headless/vf2/green.png", class: 'img-responsive'

= image_tag "/img/headless/vf2/red.png", class: 'img-responsive'

