---
title: Bat V1
date: 2014-11-12 11:17 UTC
tags: headless
subtitle: Version One of the Bat
---


%h2 
  MDF mock up
  %small.text-muted is heavy

%p I did a 'real' mockup as good as I could. I'm 95% certain this design will work for me. This is the sweet spot.

= link_img "/img/bat/v1/center.jpg"

= link_img "/img/bat/v1/left.jpg"

= link_img "/img/bat/v1/right.jpg"

%h2 
  Bout extension
  %small.text-muted not superfulous

%p I can see now why the Strandberg guitar has the long upper bout

= link_img "/img/bat/v1/bal1.jpg"

%h2 
  Without bout extension
  %small.text-muted Perfect balance!

%p  Too bad I don't play like that. I can see why the Strandberg is so long. It is not 'superfulous'

= link_img "/img/bat/v1/bal.jpg"

= link_img "/img/bat/v1/bc.jpg"



