---
title: Shape Differences
date: 2014-10-22 16:17 UTC
tags: headless
subtitle: HTML experiment with shape differences

---

- images = Dir.glob("#{root}/source/img/headless/v3/*.png")
= link_to "#", id: 'btnNext', class: 'btn btn-primary' do
  Next Shape
  &#10095;


%h2#h2title

#gallery
  - images.each do |image|
    - name  = image.split('/').last
    - title = name.sub(/(\.png|\.jpg)/,'').titleize
    .gal
      = image_tag("/img/headless/v3/#{name}", title: title)

:javascript
  $("#gallery .gal").last().css('opacity',1)
  $('#h2title').html($("#gallery .gal img").last().attr('title'))
  $('#btnNext').on('click', function(e){
    e.preventDefault()
    $("#gallery .gal").first().detach().appendTo('#gallery')
    $("#gallery .gal").css('opacity',.5)
    $("#gallery .gal").last().css('opacity',1)
    $('#h2title').html($("#gallery .gal img").last().attr('title'))
  })


:css
  #gallery .gal{
  position:absolute;
  left:0;
  top:150px;
  opacity: .5;
  }
  #gallery{
    width: 150px;
    height: 150px;
  }  

/= partial "partials/gallery", locals: {gallery_title: "", img_dir: 'headless/vs/', img_type: '*.png'}


/ :css
/   #gallery .gal{
/   position:absolute;
/   left:0;
/   top:150px;
/   opacity: .5;
/   }
/ #gallery
/   - Dir.glob("#{root}/source/img/headless/vs/*.png").each do |img|
/     - name = img.split('/').last
/     .gal
/       %h2= name.sub(/.png/,'').capitalize
/       = image_tag "img/headless/vs/" + name

/ = link_to "next", "#", id: 'next'

/ :javascript
/   Z = 0
/   $('#next').on('click', function(e){
/     e.preventDefault()
/     n = $($('#gallery .gal')[Z+1])
/     n.css('opacity', 1).css('z-index',Z++)
/   })