---
title: Version Two
date: 2014-10-18 16:17 UTC
tags: headless
subtitle: Beefing up body - trying not to lose coolness
---

%h1 Goals

%ul
  %li Simplicity
  %li Elegance
  %li Balance
  %li No superfulous lines

%p I wanted to spend a little time making sure this is the shape I want - and it will allow me to play it.


%h2 Shark - room enough?

= image_tag "/img/headless/v2/shark1.png", style: "width:100%", class: "img-responsive"

%h1 
  Ultimately
  %small.text-muted the following may be more 'right' but they are not as sexy

%h2 
  Single cut
  %small.text-muted fuller bodied



= image_tag "/img/headless/v2/shark0.png", style: "width:100%", class: "img-responsive"


= image_tag "/img/headless/v2/shark.png", style: "width:100%", class: "img-responsive"

%h2 More room for knee rest / hardware

= image_tag "/img/headless/v2/shark-plus.png", style: "width:100%", class: "img-responsive"

%h2 Sting ray

= image_tag "/img/headless/v2/sharp.png", style: "width:100%", class: "img-responsive"

= image_tag "/img/headless/v2/round.png", style: "width:100%", class: "img-responsive"

%h2 
  Amoeba
  %small.text-muted it is an amoeba!

= image_tag "/img/headless/v2/full.png", style: "width:100%", class: "img-responsive"

= image_tag "/img/headless/v2/tilted.png", style: "width:100%", class: "img-responsive"

%h2 
  I want to 'pull the bout back' 
  %small.text-muted so my arm can go over it 
%p 
  like this
  = link_to "https://www.youtube.com/watch?v=gdGp-H47ikg", "https://www.youtube.com/watch?v=gdGp-H47ikg"
= image_tag "/img/headless/v2/tilt-feather.png", style: "width:100%", class: "img-responsive"
