---
title: Scaled to inches
date: 2014-10-31 20:17 UTC
tags: headless
subtitle: Scaled up - for scale - thru sizing
---

%h2 
  Full
  %small.text-muted scaled with splated maple center
= link_img "/img/headless/thru/pieces/pv.png"


%h2 Dimwhitted Dimensions?

%p I'm trying to figure out how I came up with 16" before. Either that is wrong or this scale is wrong :/

= link_img "/img/headless/thru/pieces/scale.png"

%h2 TDPRI image for comparison

%ul
  %li I think I screwed up the dims (16") when I sent the first time
  %li or
  %li The scale on this new one - which I did 'to get more precise' is borked

= link_img "/img/headless/thru/pieces/scale1.png"

%h2 
  Strandberg overlay 
  %small.text-muted for really scaling purposes

%p I moved to inches - and then scaled the images so the git had 25.5" scale

= link_img "/img/headless/thru/pieces/strand.png"


%h2 
  Neck thru
  %small.text-muted one of the reasons I scaled to inches - to get to .5 x 5 in the center

= link_img "/img/headless/thru/pieces/thru.png"

%h2 
  Outline
  %small.text-muted for inner shape of maple. Last one. Period. If you click the image  you will see the big one  for printing.

= link_img "/img/headless/thru/pieces/outline.png"

%h2 
  Inches
  %small.text-muted really!

= link_img "/img/headless/thru/pieces/inches.png"

%h2 
  Holdsworth
  %small.text-muted for relative size reference

= link_img "/img/headless/thru/pieces/holds.png"
