---
title: The wood parts
date: 2014-10-29 18:17 UTC
tags: headless
subtitle: Various wood pieces
---

%h2 
  Neck Thru 
  %small.text-muted in Blue. Maple center. 

%p= link_to "Like the Wolf","http://www.tdpri.com/forum/attachments/tele-home-depot/231202d1397753421-neck-through-mahogany-walnut-wolf-image-585190065-jpg"
%p 
  Maple. Walnut. 
  %b Maple. 
  Walnut. Maple.

= image_tag "/img/headless/parts/thru.png", class: 'img-responsive'

%h1 
  Top piece 
  %small.muted in green. Very figured maple 

%p 
  %b Same piece - 
  center and 2 bouts. Front right and bottom left bouts slightly recessed from center. Piece sits across the neck-thru and exends into both wings. Dbz Hailfire inspired. Is awesome. 

%p This might be handy as the top of the two cavities. So the wing can be routed through. Leave the bottom right bout unrouted. ?

= image_tag "/img/headless/parts/top.png", class: 'img-responsive'

%h1 
  Arm rest
  %small.text-muted top left

%p This is different than the Strand - I want to have a nice place for my arm - the black part on top is a recess - this will be the thinnest part of the wings. With the pictures before this, you may notice the sound whole. That would be neat - but I think the wood here will be so thin it would not be prudent.

%p Also, I added the 'head'. A fake head. In a way I hate it - but it would be neat for hanging and for a tuner. I see it sort of like the B Moore but more compact and without tuners. Veneer over the 5 piece neck thru. 

%p 
  I 
  %em don't
  see it as that much more appealing, if any. Or adding balance. Just functional.

= image_tag "/img/headless/parts/arm.png", class: 'img-responsive'


%p I left the knobs, on the front bouts, in but I really do think I'll leave out (the kill switch and switch for HB/SC). Will use the Triple-shot. If they can be routed, just in case, that would be sweet.

%h1 
  The basic wood cuts/pieces
  %small.text-muted in terms of 

%ul
  %li 5 pieces for thru neck
  %li 2 wings walnut
  %li 1 top maple

%h1 Version 1 final final

= image_tag "/img/headless/parts/wood.png", class: 'img-responsive'

%h1 Version 1 striped 

%p Not covering up the neck-thru with maple looks racey.

= image_tag "/img/headless/parts/striped.png", class: 'img-responsive'


%h2 Colors

%p The color of the wood :P Perhaps a thin dye that is sanded off to bring out the figures in the wood. Then just a sealer/shiner - true oil, whatever. I found, that with the mahagony on my Parker a yellow dye brought out the wood dye the best. Once I put True-Oil on, you could hardly see the 'yellow', just the awesome wood. Not sure what color that would be for the walnut. Probably red walnut stain. 

%h2 Headless!

= image_tag "/img/headless/parts/headless.png", class: 'img-responsive'


%blockquote
  %p
    If you would have asked a rock star what they wanted, they would have said  more head.
  %footer
    Anonymous

%h2 
  Sans Hardware
  %small.text-muted a bit fugly digitally - could not find flat pics

= image_tag "/img/headless/parts/hw.png", class: 'img-responsive'


%h2 Hanger

%p A hanger for the git. Just a traditional hanger with lock - and a padded post.

.row
  .col-lg-6
    = image_tag "/img/headless/parts/hanger.png", class: 'img-responsive'
  .col-lg-6
    = image_tag "/img/headless/parts/hanger1.png", class: 'img-responsive'



