---
title: DBZ Hailfire Charcoal 
date: 2014-10-08 16:17 UTC
tags: guitar, building, bc rich, speedloader
subtitle: DBZ Hailfire
---

- content_for :carousel do 
  %img(title="DBZ" src="/img/dbz/hf-charcoal.jpg" width="100%" class="img-responsive")

%p Aint she a beauty? I have the blue one of these. When I saw this one I was stunned. It is stunning - the best looking guitar ever, ever. 

%p So I'm having one built except with my specific needs in mind.

%ul
  %li One pickup
  %li 7/8 body
  %li 24" scale

%h2 Wood

%ul
  %li Mahagony
  %Li Spalted maple


%h2 Controls

.row
  .col-lg-6
    %img(src="/img/dbz/mock-controls.png")
  .col-lg-6
    
    %h3 Hardware
    %ol
      %li Routed but no hole on top. Nothing.
      %li Volume Push/Pull for straight to jack
      %li Varitone
      %li SD Triple shot / Railhammer Anvil
      %li Kill button    

    %ul
      %li= link_to "Bridge, Kahler", "http://www.ebay.com/itm/371155051979"
      %li= link_to "Pickup, Anvil Railhammer", "http://www.ebay.com/itm/261615842218"
      %li= link_to "Tuners, Gotoh", "http://www.ebay.com/itm/111438679197"
      %li= link_to "Knobs", "http://www.ebay.com/itm/2pcs-48-20mm-Black-Aluminum-6mm-shaft-Guitar-Hi-fi-volume-tone-control-Knob-/271616378668?pt=Guitar_Accessories&hash=item3f3d99072c"
      %li= link_to "Kill switch", "http://www.ebay.com/itm/Guitar-Kill-Switch-Momentary-Push-Button-Normally-Open-Stainless-Steel-22mm-/221450584385?pt=Guitar_Accessories&hash=item338f7bc141"
      %li= link_to "Hardtail with locking at nut","http://www.sweetwater.com/store/detail/WolfSpHTBK?adpos=1o1&creative=55280653081&device=c&matchtype=&network=g&gclid=CjwKEAjwns6hBRDTpb_jkbTv1UYSJACBhber3O3l5LjUJM7Y3EyNUXXsMOa8ypjoOZmL-lBiaxoAORoCCXbw_wcB"


