---
title: Headless shape differences
date: 2014-10-27 16:17 UTC
tags: headless
subtitle: Relative size differences
---

%ul
  %li Bridge does not take space where a knee rest should be
  %li Smaller/lighter
  %li Simple(r?) shape
  %li No superfolous 'vanity' lines or bouts

= image_tag "/img/headless/vf/all.png", class: 'img-responsive'

%h1 Shark

= image_tag "/img/headless/vf/shark.png", class: 'img-responsive'

%p One of the things I set out to accomplish, if you remember from our initial conversations, is 'pulling the neck into my body' - with a shorter scale. With this design, a smaller body along with 25" scale pushed the neck out :( Even if it is a 25" scale, maybe I can lose some frets. 

%h1 Strandberg

%ul
  %li Vanity bout
  %li Bridge - too much room/overhead
  %li= link_to "Search more ...", "https://www.google.com/search?q=strandberg+headless&es_sm=119&source=lnms&tbm=isch&sa=X&ei=putOVI_tBYGR8gGo1oCQDA&ved=0CAgQ_AUoAQ&biw=1385&bih=782"

= image_tag "/img/headless/vf/stran.png", class: 'img-responsive'

%h1 Single cut 

%ul
  %li Single, simplestic top side cut - that I can't think of a reason for
  %li So I made it sharky instead
  %li Bridge - not enough room for knee rest
  %li= link_to "Search more images ...", "https://www.google.com/search?q=klein+headless&espv=2&biw=1385&bih=782&source=lnms&tbm=isch&sa=X&ei=U-tOVI3IDaah8QH3s4G4DA&ved=0CAcQ_AUoAg"

= image_tag "/img/headless/vf/klein.png", class: 'img-responsive'