%h1 Bookmarks

%h2 History

%h3 The log - the essence of a guitar

%ul
  %li= link_to "Google it", "https://www.google.com/search?q=les+paul+log&espv=2&biw=1440&bih=805&tbm=isch&tbo=u&source=univ&sa=X&ei=7gpgVNW3GYz_yQTAgoLgBQ&ved=0CB0QsAQ"

  %li= link_to "Les Paul", "http://www.gibson.com/Files/aaFeaturesImages2009/les-paul-log.gif"
  %li= link_to "The log", "http://invention.smithsonian.org/centerpieces/electricguitar/pop-ups/02-07.htm"
  %li= link_to "Vox - essentials", "http://guitarz.blogspot.com/2013/03/vox-winchester-guitar-has-metal-body.html"
  %li= link_to "Pic", "http://mixonline.com/Online_Extras_Main_Page/log.gif"
  %li= link_to "Example headless", "http://media-cache-ak0.pinimg.com/236x/a1/25/4e/a1254e36ba28d67b9a49436d53c67737.jpg"
  %li= link_to "Interesting", "http://www.coroflot.com/towers/ergonomic-guitar"

%h2 Ergo

%ul
  %li= link_to "Shapes", "http://www.ricktoone.com/lutherie/page/5/"
%h2 Misc

%ul
  %li= link_to "Cool headless", "http://t2.gstatic.com/images?q=tbn:ANd9GcTxO5vhFDdN9WhEmBYVlhcjLwnzEyDP-4y8-e4L00tvdXb5ihIN"
  %li= link_to "Arm rest", "http://media-cache-ak0.pinimg.com/originals/36/08/a4/3608a4b47a528b468d79744807c02487.jpg"
  %li= link_to "Patent", "http://www.google.com/patents/US20020100357"
  %li= link_to "Review", "http://www.sankeyguitars.com/blog/tag/review"

