%h1 Resources


%h2 Material

= linky "http://www.ebay.com/itm/Steinburger-Vintage-Classic-Headless-Original-Handmade-Prototype-Bass-/281490513463?ssPageName=ADME:B:WNARL:US:1123"
%p 
  In the letter of authenticity, provided with this guitar, Ned Steinburger describes it as "a rare experimental prototype, one of a set of three made in 1978, I think, using a skin of vacuum formed acrylic.  The process had too many problems so I gave it up, but the finished surface was beautiful.  Like subsequent Steinburger models, 
  %b 
    the neck and body was molded in one piece using high modulus carbon fiber".

= linky "http://calfeedesign.com/tech-papers/grades-of-carbon-fiber/"
%p  (Tensile modulus is a measurement of stiffness.)    

= link_to "Body extension", "https://www.google.com/search?q=Ruth+Status+Electric+Guitar&es_sm=119&source=lnms&tbm=isch&sa=X&ei=WnReVPKAKYmxyQSktIHQAw&ved=0CAgQ_AUoAQ&biw=1167&bih=738"

=image_tag "http://www.guitarhangar.com/images/thumbnails/631/689/detailed/3/viktorian-Ruth-Status-b.jpg"

%h2 Neck

= linky "http://www.cycfi.com/2013/11/sustain-myth-science/"


%h2 Design
= linky "http://guitardesignreviews.com/2011/06/fundamentals-of-electric-guitar-design-part-1/"

= linky "https://s-media-cache-ec0.pinimg.com/736x/94/80/65/948065273a35836174ec81aadb13cfad.jpg"
= linky "http://media-cache-ak0.pinimg.com/236x/39/26/14/3926142f7c1d4b0331c37c3d309d7b5f.jpg"


%h2 Art

= link_to "Exibition","http://lichtyguitars.com/2011/06/11/birds-of-a-feather-art-exhibit-opening-night/"